<style >
.content-container {
    text-align: center;
    padding: 20px;
    margin-top: 50px; 
}

.dropdown {
    margin: 10px auto; 
    width: 200px;
    display: block;
}

.welcome-text {
    text-align: center;
    margin-bottom: 10px; 
}

</style >
